.nav {
  background-color: lightblue;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

.link {
  padding: 20px;
  cursor: pointer;
  font-size: 32px;
  text-decoration: none;
}
